<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>pss.Login.Loginservlet</servlet-class>
        
        
    </servlet>
    <servlet>
        <servlet-name>Searchservlet</servlet-name>
        <servlet-class>pss.search.Searchservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpservlet</servlet-name>
        <servlet-class>pss.SignUp.SignUpservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploadservlet</servlet-name>
        <servlet-class>pss.SignUp.Uploadservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bookservlet</servlet-name>
        <servlet-class>pss.book.Bookservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdetails</servlet-name>
        <servlet-class>pss.SignUp.userdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>pss.logout.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewbook</servlet-name>
        <servlet-class>pss.book.Viewbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancelbook</servlet-name>
        <servlet-class>pss.book.Cancelbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hotelregisterservlet</servlet-name>
        <servlet-class>pss.SignUp.Hotelregisterservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewservlet</servlet-name>
        <servlet-class>pss.SignUp.Viewservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewyourbookservlet</servlet-name>
        <servlet-class>san.hotel.viewyourbookservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editdetails</servlet-name>
        <servlet-class>san.hotel.Editdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hoteldetailsservlet</servlet-name>
        <servlet-class>san.hotel.Hoteldetailsservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edithotelservlet</servlet-name>
        <servlet-class>san.hotel.Edithotelservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_new_entryservlet</servlet-name>
        <servlet-class>san.admin.View_new_entryservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_hotelservlet</servlet-name>
        <servlet-class>san.admin.View_hotelservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpass</servlet-name>
        <servlet-class>pss.Login.Forgotpass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchservlet</servlet-name>
        <url-pattern>/Searchservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpservlet</servlet-name>
        <url-pattern>/SignUpservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploadservlet</servlet-name>
        <url-pattern>/Uploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bookservlet</servlet-name>
        <url-pattern>/Bookservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdetails</servlet-name>
        <url-pattern>/userdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/Logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewbook</servlet-name>
        <url-pattern>/Viewbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancelbook</servlet-name>
        <url-pattern>/Cancelbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hotelregisterservlet</servlet-name>
        <url-pattern>/Hotelregisterservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewservlet</servlet-name>
        <url-pattern>/Viewservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewyourbookservlet</servlet-name>
        <url-pattern>/viewyourbookservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editdetails</servlet-name>
        <url-pattern>/Editdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hoteldetailsservlet</servlet-name>
        <url-pattern>/Hoteldetailsservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edithotelservlet</servlet-name>
        <url-pattern>/Edithotelservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_new_entryservlet</servlet-name>
        <url-pattern>/View_new_entryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_hotelservlet</servlet-name>
        <url-pattern>/View_hotelservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpass</servlet-name>
        <url-pattern>/Forgotpass</url-pattern>
    </servlet-mapping>
    <context-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
            
            
    </context-param>
    <context-param>
        <param-name>url1</param-name>
            <param-value>jdbc:mysql://mysql17722-hrssan.cloud.cms500.com/hrs</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/hrs</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
            <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword1</param-name>
        <param-value>ray</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword</param-name>
        <param-value>wQBthwWXkB</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>
            file-uploaad
        </param-name>
        <param-value>
            C:\Program Files (x86)</param-value>
    </context-param>
</web-app>
