body
{
    background-image: url(N6.jpg);
}


a
{
    text-decoration: none;
}

tr
{
   font-size: larger; 
   font: bold;
}

th
{
    color: red;    
}

table.search{
border-radius : 10px;
}

.login{
    float:right;
    font-size:25px;
    text-decoration:none;
    font-weight: bold;
    margin-right:10px;
}
.login a{
    color:white;
}
  .dropbtn {
    background: transparent;
    color: white;
    font-family:Times New Roman ;
    float:right;
    font-size:25px;
    text-decoration:none;
    font-weight: bold;
    border: none;
    cursor: pointer;
  
}

.dropdown {
    position:relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: relative;
    top:30px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 10px 6px 16px 20px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    position:absolute;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.menu-bar{
}
